<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyj.dao.CollectionsMapper">

    <!--根据文章id删除收藏的文章-->
    <delete id="deleteCollectionById">
        DELETE FROM collection
        WHERE collection_article_id=#{collectionArticleId}
    </delete>

    <!--增加收藏关系-->
    <insert id="insertCollection" parameterType="collectionsCustom">
        <selectKey keyProperty="collectionId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO collection (collection_user_id,collection_article_id,collection_create_time) VALUES (#{collectionUserId},#{collectionArticleId},#{collectionCreateTime})
    </insert>

    <!--删除收藏关系-->
    <delete id="deleteCollectionByCommentId" parameterType="java.lang.Integer">
        DELETE FROM collection
        WHERE collection_id=#{collectionId}
    </delete>

    <!--删除收藏关系-->
    <delete id="deleteCollection" parameterType="collectionsCustom">
        DELETE FROM collection
        WHERE collection_user_Id=#{collectionUserId} AND collection_article_Id=#{collectionArticleId}
    </delete>

    <select id="selectCollectionNumByArticleId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(collection_user_id) FROM collection
        WHERE collection_article_id=#{collectionArticleId}
    </select>

    <!--查找收藏关系-->
    <select id="selectCollection" parameterType="collectionsCustom" resultType="java.lang.Integer">
        SELECT collection_id FROM collection
        WHERE collection_user_Id=#{collectionUserId} AND collection_article_Id=#{collectionArticleId}
    </select>



    <!--根据用户的id得到收藏的文章列表id-->
    <select id="getArticleIdListByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT collection_article_id FROM collection
        WHERE collection_user_Id=#{collectionUserId}
        ORDER BY collection_create_time DESC
    </select>

    <!--读取一个文章有多少收藏量-->
    <select id="getArticleCollectionNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(collection_id) FROM collection WHERE collection_article_id=#{collectionArticleId}
    </select>

    <!--读取用户关注的文章数量-->
    <select id="getUserCollectionNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(collection_id) FROM collection WHERE collection_user_id=#{collectionUserId}
    </select>

</mapper>